
<img
  class="course-image"
  src="{{unbound model.image-info.square2x.url}}"
  width="100" alt="">
<span>
  <h3 class="course-title">{{unbound model.title}}</h3>
  <p class="course-summary">{{unbound model.summary}}</p>
</span>


{{yield}}
