<h1>My List</h1>
<ul>
  {{#each model as |course|}}
    <li>
      {{#link-to "course" course.id}}
        {{course.title}}
      {{/link-to}}
    </li>
    {{!-- {{course-list-item model=course }} --}}
  {{/each}}
</ul>


{{outlet}}
